# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# Temporary files
tmp/
temp/

# macOS
.DS_Store
*.pem

# local env files
.env*.local
.env

# Supabase local
.supabase/
supabase/.temp/

# typescript
*.tsbuildinfo

app-example

# generated native folders
/ios
/android
.vscode/
.idea/
